@CHARSET "UTF-8";
html, body, #map{
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.tooltip{
	position: absolute;
	border: 1px solid rgb(255, 221, 221);
	padding: 2px;
	background-color: rgb(255, 238, 238);
	z-index: 1000;
	opacity: 0.8;
	top: 553px;
	left: 1042px;
	display: none;
}